/* Exercise 2 : CSS Syntax & Comments */

/* Universal Selector */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

/* Body Styling */

body{

font-family:'Poppins',sans-serif;

background-image:
url('https://images.unsplash.com/photo-1506744038136-46273834b3fb');

background-color:#dfefff;

background-size:cover;

padding:20px;

}

/* ID Selector */

#mainHeader{

background:
linear-gradient(to right,#0066cc,#00cc99);

color:white;

padding:20px;

text-align:center;

}

/* Navigation */

.navMenu{

list-style:none;

display:flex;

justify-content:center;

gap:25px;

margin-top:15px;

}

/* Link Styling */

a:link{

color:blue;

text-decoration:none;

}

a:hover{

color:red;

}

a:visited{

color:purple;

}

a:active{

color:green;

}

/* Element Selector */

h2{

font-size:30px;

margin-bottom:15px;

text-transform:uppercase;

letter-spacing:2px;

}

/* Grouping Selector */

h3,p{

line-height:1.8;

text-align:justify;

}

/* Class Selector */

.eventCard{

background:rgba(255,255,255,0.8);

border:2px solid #333;

padding:20px;

margin:25px 0;

outline:3px dashed orange;

}

/* Typography */

h3{

font-style:italic;

font-weight:bold;

}

/* Table Styling */

table{

width:100%;

border-collapse:collapse;

text-align:center;

margin-top:15px;

}

th,td{

border:1px solid black;

padding:12px;

background-color:#f4f4f4;

}

tr:nth-child(even){

background-color:#d6ecff;

}

/* Form */

input{

padding:10px;

margin:10px;

border:1px solid black;

}

input:focus{

outline:4px solid red;

}

/* Visibility */

.hiddenBox{

visibility:hidden;

background:yellow;

padding:15px;

margin:10px;

}

.noneBox{

display:none;

}

/* Multi Column */

.newsSection{

background:white;

padding:20px;

column-count:2;

column-gap:30px;

column-rule:1px solid gray;

}

/* Footer */

footer{

background:#222;

color:white;

padding:15px;

text-align:center;

margin-top:20px;

}

/* Responsive Design */

@media screen and (max-width:768px){

.navMenu{

flex-direction:column;

}

h2{

font-size:22px;

}

body{

padding:5vw;

}

img{

width:60%;

}

.newsSection{

column-count:1;

}

}